In [4]:
!pip3 install openpyxl
import pandas as pd
import numpy as np
##import validators

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in /Users/thatcass/Library/Python/3.8/lib/python/site-packages (3.0.6)
Requirement already satisfied: et-xmlfile in /Users/thatcass/Library/Python/3.8/lib/python/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /Users/thatcass/Library/Python/3.8/lib/python/site-packages (from openpyxl) (1.4.1)
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.

In [6]:
onfarm = pd.io.parsers.read_csv('../data/OnFarm_data/OnFarm_Cleaned.csv', dtype={'zip': 'str'})
operators = pd.read_excel('../data/OnFarm_data/combined_operators.xlsx', engine='openpyxl')
csa = pd.io.parsers.read_csv('../data/OnFarm_data/csa.csv', dtype={'zip': 'str'})

In [7]:
onfarm.columns

Index(['Unnamed: 0', 'OF_ID', 'address', 'city', 'state', 'stateFIPS', 'zip',
       'x', 'y', 'name', 'website', 'facebook', 'twitter', 'season1_date',
       'season1_time', 'season1_notes', 'season1_products', 'season2_date',
       'season2_time', 'season2_notes', 'season2_products', 'season3_date',
       'season3_time', 'season3_notes', 'season3_products', 'season4_date',
       'season4_time', 'season4_notes', 'season4_products', 'Product_1',
       'Product_2', 'Product_3', 'Product_4', 'Product_5', 'Product_6',
       'Product_7', 'Product_8', 'Product_9', 'Product_10', 'Product_11',
       'Product_12', 'Product_13', 'Product_14', 'Product_15', 'Product_16',
       'Product_17', 'Product_18', 'Product_19', 'Product_20', 'Product_21',
       'Product_22', 'Product_23', 'Product_24', 'Product_25', 'Product_26',
       'Product_27', 'Product_28', 'ActivityList', 'Activity_1', 'Activity_2',
       'Activity_3', 'Activity_4', 'Activity_5', 'Activity_6', 'Activity_7',
       'Activity_8', 'Activity_9', 'Activity_10', 'Activity_11',
       'FacilitiesList', 'Facilities_1', 'Facilities_2', 'Facilities_3',
       'Facilities_4', 'Facilities_5', 'Payment_2', 'Payment_3', 'Payment_4',
       'Payment_1'],
      dtype='object')

In [4]:
operators.columns

Index(['Unnamed: 0', 'MarketName', 'website', 'address', 'city', 'state',
       'zip', 'county', 'x', 'y', 'organic', 'operation certification status',
       'wildharvested', 'email', 'phone', 'updatetime', 'fmid', 'operation id',
       'other/former names'],
      dtype='object')

In [8]:
operators.rename(columns = {'MarketName':'name'}, inplace=True)
operators

,Unnamed: 0,name,website,address,city,state,zip,county,x,y,organic,operation certification status,wildharvested,email,phone,updatetime,fmid,operation id,other/former names
0,0,Lansdale Farmers' Market,https://www.lansdalefarmersmarket.org/,400 Penn Street,Lansdale,Pennsylvania,19446,Montgomery,-75.277496,40.234201,Y,NaN,Y,NaN,NaN,2/10/2020 13:33,1019756.0,NaN,NaN
1,1,Merchantville Market Off Centre,https://www.facebook.com/merchantvillemarketof...,N. Centre St. & Chestnut Ave.,Merchantville,New Jersey,08109,Camden,-75.049076,39.952473,N,NaN,N,NaN,NaN,7/26/2018 16:18,1018093.0,NaN,NaN
2,2,Yardlet Farmers Market - Indoor Winter Market,http://www.yardleyfarmersmarket.com,65 N. Main St.,Yardley borough,Pennsylvania,19067,Bucks,-74.841627,40.243417,Y,NaN,Y,NaN,NaN,10/16/2019 11:19,1019708.0,NaN,NaN
3,3,Yardley Farmers Market,http://yardleyfarmersmarket.com/,Buttonwood Park,Yardley borough,Pennsylvania,19067,Bucks,-74.839868,40.240633,Y,NaN,N,NaN,NaN,12/28/2018 7:38,1018508.0,NaN,NaN
4,4,Swarthmore Farmers Market,http://www.swarthmorefarmersmarket.org/,121 Park Avenue,Swarthmore,Pennsylvania,19081,Delaware,-75.349110,39.901799,N,NaN,N,NaN,NaN,3/22/2019 22:06,1019437.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3505,3384,Zimmerman. Michael,NaN,5421 Triple V Dr.,Dayton,Virginia,22821,NaN,NaN,NaN,NaN,Certified,NaN,hilandnaturals@icloud.com,540-879-2712,NaN,NaN,7922151515,NaN
3506,3385,Zlatheh's Farm,zlatehsfarm.com,7160 County Rte 23,Sidney Center,New York,13839,Delaware County,NaN,NaN,NaN,Certified,NaN,rlb14@cornell.edu,607-865-6278,NaN,NaN,3252009050,NaN
3507,3386,Zook Hill Farms,NaN,198 Muddy Run Road,Mifflintown,Pennsylvania,17059,Juniata County,NaN,NaN,NaN,Certified,NaN,NaN,(717) 436-6409,NaN,NaN,8210004030,NaN
3508,3387,Zook's Farm,NaN,8817 County Route 74,Hammondsport,New York,14840,Steuben County,NaN,NaN,NaN,Certified,NaN,NaN,No Telephone,NaN,NaN,3252012024,NaN
3509,3388,Zynda Farm,NaN,13341 Ottenbecker Rd.,Lawtons,New York,14091,Erie County,NaN,NaN,NaN,Certified,NaN,zyndafarms@outlook.com,716-983-3864,NaN,NaN,9571381630,NaN

In [9]:
operators.columns

Index(['Unnamed: 0', 'name', 'website', 'address', 'city', 'state', 'zip',
       'county', 'x', 'y', 'organic', 'operation certification status',
       'wildharvested', 'email', 'phone', 'updatetime', 'fmid', 'operation id',
       'other/former names'],
      dtype='object')

In [10]:
csa.rename(columns = {'Name': 'name'}, inplace=True)

In [11]:
csa.columns

Index(['Unnamed: 0', 'name', 'address', 'city', 'state', 'zip', 'website',
       'facebook', 'manager_name', 'email', 'phone', 'MarketName', 'stateFIPS',
       'CSA_ID'],
      dtype='object')

In [12]:
combined_df = pd.concat([onfarm, operators,csa])

In [13]:
combined_df.head()

,Unnamed: 0,OF_ID,address,city,state,stateFIPS,zip,x,y,name,...,wildharvested,email,phone,updatetime,fmid,operation id,other/former names,manager_name,MarketName,CSA_ID
0,0,4017399.0,10600 Highland Springs Ave.,Cherry Valley,California,6.0,92223.0,-116.944304,33.969105,123 Farm at Highland Springs Resort,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4017170.0,13701 NE 171st Street,Woodinville,Washington,53.0,98072.0,-122.156987,47.750240,21 Acres Farm Market,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,4001442.0,1876 Brooksfield Rd,Blacksburg,Virginia,51.0,24060.0,-80.491034,37.216789,3 Birds Berry Farm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,4022418.0,10769 N 1500W Rd,Manteno,Illinois,17.0,60950.0,-87.906847,41.276258,3 Winds Farm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4001439.0,41031 Highway 1056,Franklinton,Louisiana,22.0,70438.0,-90.215454,30.870116,3D Blueberry Farm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
combined_df.columns

Index(['Unnamed: 0', 'OF_ID', 'address', 'city', 'state', 'stateFIPS', 'zip',
       'x', 'y', 'name', 'website', 'facebook', 'twitter', 'season1_date',
       'season1_time', 'season1_notes', 'season1_products', 'season2_date',
       'season2_time', 'season2_notes', 'season2_products', 'season3_date',
       'season3_time', 'season3_notes', 'season3_products', 'season4_date',
       'season4_time', 'season4_notes', 'season4_products', 'Product_1',
       'Product_2', 'Product_3', 'Product_4', 'Product_5', 'Product_6',
       'Product_7', 'Product_8', 'Product_9', 'Product_10', 'Product_11',
       'Product_12', 'Product_13', 'Product_14', 'Product_15', 'Product_16',
       'Product_17', 'Product_18', 'Product_19', 'Product_20', 'Product_21',
       'Product_22', 'Product_23', 'Product_24', 'Product_25', 'Product_26',
       'Product_27', 'Product_28', 'ActivityList', 'Activity_1', 'Activity_2',
       'Activity_3', 'Activity_4', 'Activity_5', 'Activity_6', 'Activity_7',
       'Activity_8', 'Activity_9', 'Activity_10', 'Activity_11',
       'FacilitiesList', 'Facilities_1', 'Facilities_2', 'Facilities_3',
       'Facilities_4', 'Facilities_5', 'Payment_2', 'Payment_3', 'Payment_4',
       'Payment_1', 'county', 'organic', 'operation certification status',
       'wildharvested', 'email', 'phone', 'updatetime', 'fmid', 'operation id',
       'other/former names', 'manager_name', 'MarketName', 'CSA_ID'],
      dtype='object')

In [15]:
#creating a new df with only business name, location details, website/web details
combined_df_new = combined_df[['name','other/former names','address', 'city', 'state','zip',
       'x', 'y', 'website', 'facebook', 'twitter','email', 'phone', 'fmid', 'operation id','OF_ID']].copy()

In [16]:
combined_df_new.head()

,name,other/former names,address,city,state,zip,x,y,website,facebook,twitter,email,phone,fmid,operation id,OF_ID
0,123 Farm at Highland Springs Resort,NaN,10600 Highland Springs Ave.,Cherry Valley,California,92223.0,-116.944304,33.969105,www.123farm.com,https://www.facebook.com/hsresort,NaN,NaN,NaN,NaN,NaN,4017399.0
1,21 Acres Farm Market,NaN,13701 NE 171st Street,Woodinville,Washington,98072.0,-122.156987,47.750240,21acres.org,https://www.facebook.com/21Acres,NaN,NaN,NaN,NaN,NaN,4017170.0
2,3 Birds Berry Farm,NaN,1876 Brooksfield Rd,Blacksburg,Virginia,24060.0,-80.491034,37.216789,3birdsberryfarm.com,https://www.facebook.com/3BirdsBerryFarm,NaN,NaN,NaN,NaN,NaN,4001442.0
3,3 Winds Farm,NaN,10769 N 1500W Rd,Manteno,Illinois,60950.0,-87.906847,41.276258,www.3windsfarm.com,http://facebook.com/3windsfarm/,NaN,NaN,NaN,NaN,NaN,4022418.0
4,3D Blueberry Farm,NaN,41031 Highway 1056,Franklinton,Louisiana,70438.0,-90.215454,30.870116,http://www.3dblueberries.com,https://www.facebook.com/3DBlueberryFarm,NaN,NaN,NaN,NaN,NaN,4001439.0

In [17]:
combined_df_new.columns

Index(['name', 'other/former names', 'address', 'city', 'state', 'zip', 'x',
       'y', 'website', 'facebook', 'twitter', 'email', 'phone', 'fmid',
       'operation id', 'OF_ID'],
      dtype='object')

In [18]:
combined_df_new.rename(columns = {'address': 'street', 'other/former names': 'other_name'}, inplace=True)

In [19]:
combined_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5261 entries, 0 to 171
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          5261 non-null   object
 1   other_name    184 non-null    object
 2   street        5183 non-null   object
 3   city          5217 non-null   object
 4   state         5217 non-null   object
 5   zip           5190 non-null   object
 6   x             1768 non-null   float64
 7   y             1768 non-null   float64
 8   website       1827 non-null   object
 9   facebook      1200 non-null   object
 10  twitter       185 non-null    object
 11  email         1580 non-null   object
 12  phone         2645 non-null   object
 13  fmid          191 non-null    float64
 14  operation id  3319 non-null   object
 15  OF_ID         1579 non-null   float64
dtypes: float64(4), object(12)
memory usage: 698.7+ KB

In [20]:
# Find duplicates
combined_df_new.duplicated(subset='name').sum()
# There are 48 duplicates by name
combined_df_new.duplicated(subset='email').sum()

3922

In [21]:
all_operators = combined_df_new.copy()
all_operators.loc[all_operators.street.isnull()]

,name,other_name,street,city,state,zip,x,y,website,facebook,twitter,email,phone,fmid,operation id,OF_ID
255,Carbonado Farm LLC,NaN,NaN,Joliet,Montana,59041.0,-109.009007,45.464550,httsp://www.mtlamb.com,https://www.facebook.com/CarbonadoFarm,NaN,NaN,NaN,NaN,NaN,4001276.0
260,Case Custom Meats,NaN,NaN,Yoder,Wyoming,82244.0,-104.283729,41.915028,www.casecustommeats.com,Www.facebook.com/casecustommeats,NaN,NaN,NaN,NaN,NaN,4022317.0
272,Cherish Creamery LLC,NaN,NaN,2771 Paradise Rd,Pennsylvania,15841.0,-78.831249,41.059349,cherishcreamery.com,cherish creamery,NaN,NaN,NaN,NaN,NaN,4022505.0
298,COLD SPRING FARM at Lake Hayward,NaN,NaN,East Haddam,Connecticut,6423.0,-72.475777,41.503435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4017516.0
301,Colusa Farms,NaN,NaN,Naples,Florida,NaN,-81.794810,26.142036,www.colusafarms.com,NaN,NaN,NaN,NaN,NaN,NaN,4004346.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483,Woodcock Valley Farm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,607-659-7409,NaN,5878718017,NaN
3493,Yinzer Valley Farms,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,878-295-2507,NaN,5872678702,NaN
2,Phoenix Farms,NaN,NaN,Bensalem,Pennsylvania,19020,NaN,NaN,www.phoenixfarms.us,https://www.facebook.com/thephoenixfarm,NaN,thephoenixfarms@gmail.com,323-940-FARM,NaN,NaN,NaN
8,Chickadee Creek Farm,NaN,NaN,Pennington,New Jersey,8534,NaN,NaN,www.chickadeecreekfarm.com,https://www.facebook.com/pages/Chickadee-Creek...,NaN,chickadeecreekfarm@gmail.com,609-462-3854,NaN,NaN,NaN
26,Windsong Farm,NaN,NaN,Warren Township,New Jersey,7059,NaN,NaN,http://www.windsongorganicfarm.com/,https://www.facebook.com/windsongorganicfarm,NaN,info@windsongorganicfarm.com,908-464-2070,NaN,NaN,NaN

In [22]:
all_operators.state.unique()

array(['California', 'Washington', 'Virginia', 'Illinois', 'Louisiana',
       'Kansas', 'Ohio', 'Georgia', 'Texas', 'Colorado', 'Maryland',
       'Michigan', 'New York', 'Florida', 'Pennsylvania', 'Massachusetts',
       'Vermont', 'North Carolina', 'Oregon', 'Wisconsin', 'Indiana',
       'Maine', 'Iowa', 'South Carolina', 'Arkansas', 'New Hampshire',
       'Mississippi', 'Tennessee', 'Alaska', 'New Jersey',
       'Virgin Islands', 'Idaho', 'Minnesota', 'Connecticut', 'Alabama',
       'New Mexico', 'West Virginia', 'Missouri', 'Kentucky',
       'South Dakota', 'Nebraska', 'Arizona', 'Rhode Island', 'Oklahoma',
       'Montana', 'Wyoming', 'District of Columbia', 'Delaware', 'Nevada',
       'Hawaii', 'North Dakota', 'Utah', 'Puerto Rico', 'Required (US)',
       nan], dtype=object)

In [23]:
#export to excel
#all_operators.to_excel('all_operators.xlsx')

### Things to clean
1. Seeing some states not in 9 state radius. Drop them. -DONE
2. Look to see if any of the names in other former names appear in name column. - DONE
2. Seeing some street names not formatted right.
3. Website doesn't have only valid URLs. Formatting of URLs is inconsistent--sometimes start as http:// other times just www. Sometimes it has what appears to be an instagram or facebook handle. Sometimes has an email address where in same row email address is NaN. Sometimes website has an address instead of a web address.
2. Facebook URL not always a URL - sometimes formatted as just a handle. 
4. NJ and CT Zip code not propertly displaying and needs to have the leading 0.
6. There needs to be a dataframe with vendor name and associated products.These can remain separate or joined. Right now, we do not have product data in this operators df.

## Cleaning Methodology

### 1. Drop rows with states outside of the 9 associated with our 200 mile radius states.

In [24]:

radius_states=['Pennsylvania', 'New Jersey','Delaware', 'Maryland', 'New York', 'Connecticut', 'District of Columbia', 'Virginia', 'West Virginia', 'Massachusetts']

In [25]:
all_operators = all_operators.loc[all_operators.state.isin(radius_states)]
all_operators

,name,other_name,street,city,state,zip,x,y,website,facebook,twitter,email,phone,fmid,operation id,OF_ID
2,3 Birds Berry Farm,NaN,1876 Brooksfield Rd,Blacksburg,Virginia,24060.0,-80.491034,37.216789,3birdsberryfarm.com,https://www.facebook.com/3BirdsBerryFarm,NaN,NaN,NaN,NaN,NaN,4001442.0
8,A Dozen Eggs,NaN,37938 Charles Town Pike,Purcellville,Virginia,20132.0,-77.690603,39.188266,www.pastureraisedeggs.com,NaN,NaN,NaN,NaN,NaN,NaN,4015885.0
13,A. H. Herb'n Craft Farm,NaN,13433 Ocean Gateway (US Route 50),Wye Mills,Maryland,21679.0,-76.062360,38.936137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4017553.0
15,Abbott Farms,NaN,3275 Cold Springs Road,Baldwinsville,New York,13027.0,-76.281483,43.144523,abbottfarms.com,abbottfarmsny,NaN,NaN,NaN,NaN,NaN,4014446.0
19,Accokeek Foundation - Ecosystem Farm Market,NaN,3400 Bryan Point Road,Accokeek,Maryland,20607.0,-77.060180,38.691496,www.accokeekfoundation.org,www.facebook.com/accokeekfoundation,twitter.com/Accokeek,NaN,NaN,NaN,NaN,4017168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,Russo's Roots LLC,NaN,289 North Society Rd,Canterbury,Connecticut,6331,NaN,NaN,Www.russosroots@gmail.com,https://www.facebook.com/russosrootsfarm/,NaN,Russosroots@gmail.com,8605569325,NaN,NaN,NaN
168,Connecticut Farm to Table Cooperative,NaN,140 Beffa Road,Stafford Springs,Connecticut,6076,NaN,NaN,http://www.ctfarmtable.com,https://www.facebook.com/ctfarmtable,NaN,ctfarmtable@gmail.com,860-684-1311,NaN,NaN,NaN
169,Dayspring Farm,NaN,942 Buena Vista Road,Cologne,Virginia,23181,NaN,NaN,www.dayspringfarm.org,NaN,NaN,dayspringfarm@aol.com,804-785-9401,NaN,NaN,NaN
170,"Brightwood Vineyard and Farm, LLC",NaN,1202 Lillards Ford Road,Brightwood,Virginia,22715,NaN,NaN,www.brightwoodvineyardandfarm.com,https://www.facebook.com/BrightwoodVineyardand...,NaN,svidal@hughes.net,540-948-6845,NaN,NaN,NaN
171,Mattawoman Creek Farms,NaN,"4103 Barlow Creek Lane, PO Box 689",Eastville,Virginia,23347,NaN,NaN,http://www.mattawomancreekfarms.com/,https://www.facebook.com/MattawomanCreekFarms,NaN,organic@mattawomancreekfarms.com,757-678-5731,NaN,NaN,NaN

In [26]:
all_operators.state.unique()

array(['Virginia', 'Maryland', 'New York', 'Pennsylvania',
       'Massachusetts', 'New Jersey', 'Connecticut', 'West Virginia',
       'District of Columbia', 'Delaware'], dtype=object)

### Look to see where ['other_name'] appears in [name]. 
Keep these rows because not all the columns match across and despite being the same name, they appear to be different businesses. Drop other_name column because the other databases do not have this information. In hindsight, probably shouldn't have included it in the merge.

In [27]:
other_name = all_operators.name.unique()

In [28]:
all_operators['compared'] = np.where((all_operators.other_name.isin(other_name)), 'true', 'false')

In [29]:
all_operators.loc[all_operators.compared=='true']

,name,other_name,street,city,state,zip,x,y,website,facebook,twitter,email,phone,fmid,operation id,OF_ID,compared
1824,Jonas S. Fisher,Creekside Farm,74-A South Ronks Road,Ronks,Pennsylvania,17572,NaN,NaN,NaN,NaN,NaN,NaN,717-687-7015 x1,NaN,8210007482,NaN,true
1945,"Kurtz, Stephen",Kurtz Farm,1952 City Rt 5,Addison,New York,14801,NaN,NaN,NaN,NaN,NaN,NaN,607-359-4729,NaN,7920304324,NaN,true
2158,Marcus J. Mast,Meadow Valley Farm,38 S. Maysville Road,Greenville,Pennsylvania,16125,NaN,NaN,NaN,NaN,NaN,NaN,724-588-2248,NaN,5870002308,NaN,true

In [30]:
all_operators.drop(['other_name'], axis=1, inplace=True)

In [31]:
#ZIPCPODE FIX
all_operators['zip']= all_operators['zip'].str.zfill(5)

print(all_operators)

                                            name  \
2                             3 Birds Berry Farm
8                                   A Dozen Eggs
13                       A. H. Herb'n Craft Farm
15                                  Abbott Farms
19   Accokeek Foundation - Ecosystem Farm Market
..                                           ...
167                            Russo's Roots LLC
168        Connecticut Farm to Table Cooperative
169                               Dayspring Farm
170            Brightwood Vineyard and Farm, LLC
171                       Mattawoman Creek Farms

                                 street              city        state  \
2                   1876 Brooksfield Rd        Blacksburg     Virginia
8               37938 Charles Town Pike      Purcellville     Virginia
13    13433 Ocean Gateway (US Route 50)         Wye Mills     Maryland
15               3275 Cold Springs Road     Baldwinsville     New York
19                3400 Bryan Point Road          Accokeek     Maryland
..                                  ...               ...          ...
167                289 North Society Rd       Canterbury   Connecticut
168                      140 Beffa Road  Stafford Springs  Connecticut
169                942 Buena Vista Road           Cologne     Virginia
170             1202 Lillards Ford Road        Brightwood     Virginia
171  4103 Barlow Creek Lane, PO Box 689         Eastville     Virginia

         zip          x          y                               website  \
2    24060.0 -80.491034  37.216789                   3birdsberryfarm.com
8    20132.0 -77.690603  39.188266             www.pastureraisedeggs.com
13   21679.0 -76.062360  38.936137                                   NaN
15   13027.0 -76.281483  43.144523                       abbottfarms.com
19   20607.0 -77.060180  38.691496            www.accokeekfoundation.org
..       ...        ...        ...                                   ...
167    06331        NaN        NaN             Www.russosroots@gmail.com
168    06076        NaN        NaN            http://www.ctfarmtable.com
169    23181        NaN        NaN                 www.dayspringfarm.org
170    22715        NaN        NaN     www.brightwoodvineyardandfarm.com
171    23347        NaN        NaN  http://www.mattawomancreekfarms.com/

                                              facebook               twitter  \
2             https://www.facebook.com/3BirdsBerryFarm                   NaN
8                                                  NaN                   NaN
13                                                 NaN                   NaN
15                                       abbottfarmsny                   NaN
19                 www.facebook.com/accokeekfoundation  twitter.com/Accokeek
..                                                 ...                   ...
167          https://www.facebook.com/russosrootsfarm/                   NaN
168               https://www.facebook.com/ctfarmtable                   NaN
169                                                NaN                   NaN
170  https://www.facebook.com/BrightwoodVineyardand...                   NaN
171      https://www.facebook.com/MattawomanCreekFarms                   NaN

                                email         phone  fmid operation id  \
2                                 NaN           NaN   NaN          NaN
8                                 NaN           NaN   NaN          NaN
13                                NaN           NaN   NaN          NaN
15                                NaN           NaN   NaN          NaN
19                                NaN           NaN   NaN          NaN
..                                ...           ...   ...          ...
167             Russosroots@gmail.com    8605569325   NaN          NaN
168             ctfarmtable@gmail.com  860-684-1311   NaN          NaN
169             dayspringfarm@aol.com  804-785-9401   NaN          NaN
170                 svidal@hughes.net  540-948-6845   NaN          NaN
171  organic@mattawomancreekfarms.com  757-678-5731   NaN          NaN

         OF_ID compared
2    4001442.0    false
8    4015885.0    false
13   4017553.0    false
15   4014446.0    false
19   4017168.0    false
..         ...      ...
167        NaN    false
168        NaN    false
169        NaN    false
170        NaN    false
171        NaN    false

[3980 rows x 16 columns]

In [ ]:
nj_all_operators = all_operators.loc[all_operators.state=='New Jersey'].copy()
nj_all_operators['zip'] = nj_all_operators['zip'].str.zfill(5)
nj_all_operators.tail(15)

In [ ]:
all_operators.loc[all_operators.state=='Connecticut']

<h1> <b>Modifiying Website URLS</b> </h1>
    <p> Things done to clean up website column: <p>
    <li> Imported validators libraries -  for validating website urls </li>
    <li> Created a new df that contains just website column </li>
    <li> Created a function, that splits existing urls that contains specified words into two parts, and concatenated "http://www" with the split word </li>
    <li> For those that were not modified by first function, created a second function that checks if they end in specific words, and then concatened with "http://www" </li>
    <li> Used validator to check if the urls are valid </li>
    <li> Finally, assigned the validated column back to original df </li>

In [ ]:
#Taking just the website column to work on
website_df = all_operators[['website']].copy()
website_df

In [ ]:
#Function to modify website urls

words_to_search = ['www','http', 'https']

def edit_url(x):
    new_str = str(x)
    for i in words_to_search:
        if i.lower() in new_str.lower():
            new_word = new_str.split('.', 1)
            return "http://www." + new_word[1]
        else:
             return x

In [ ]:
website_df['edited'] = website_df['website'].apply(edit_url)

website_df

In [ ]:
my_List = ('com', 'org', 'net')
def new_edit(x):
    new_str = str(x)
    if new_str.startswith("http://www."):
        return new_str
    elif new_str.endswith(my_List):
        return "http://www." + new_str
    else:
        return x

In [ ]:
website_df['newly_edited'] = website_df['edited'].apply(new_edit)

In [ ]:
#Using Validator library to check if url is valid
def valid_url(x):
    new_str = str(x)
    if (validators.url(new_str) == True):
        return new_str
    else:
        return np.nan

In [ ]:
website_df['actual_website'] = website_df['newly_edited'].apply(valid_url)

In [ ]:
all_operators["website"] = website_df["actual_website"]

In [ ]:
all_operators

In [ ]:
#Saves dataframe as csv file to current working directory
all_operators.to_csv(r'all_operators.csv', index= False, header= True)